body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.containers {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.cards {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

header {
  color: #000;
  background-color: #FAF5DD;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  color: orangered;
  margin-top: 30px;
  font-size: 90px;
}

header img {
  max-width: 150px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
}

header nav ul li a:hover {
  color: red;
}

#hero {
  background-image: url('bg_img.jpg');
  background-size: auto;
  color: #000;
  text-align: center;
  padding: 40px 0;
}

#hero h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn:hover {
  border: 3px solid yellow;
  box-shadow: 2px 2px 10px black;
}

.card {
  display: inline-block;
  border: 3px solid black;
}

.card img {
  display: inline-block;
  border: 3px solid black;
}

.card .card-body {
  color: white;
  background-color: black;
}

#collections {
  background-image: url('bg_img.jpg');
  background-size: cover;
  padding: 20px 0;
}

#Trending {
  background-image: url('bg_img.jpg');
  background-size: cover;
  padding: 20px 0;
}

#Deals {
  background-image: url('bg_img.jpg');
  background-size: cover;
  padding: 20px 0;
}

#testimonials {
  background-image: url('bg_img.jpg');
  background-size: cover;
  padding: 40px 0;
}

.testimonial {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial blockquote {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial cite {
  font-weight: bold;
}

footer {
  background-image: url('bg_img.jpg');
  background-size: cover;
  padding: 40px 0;
  color: #000;
}

footer input,
footer textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

footer button {
  background-color: #ff6600;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  border: 3px solid orange;
  box-shadow: 2px 2px 10px black;
}

