body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg_img.jpg");
    background-size: cover;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #000;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
}

section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

#about {
    background-image: url("bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 20px;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid black;
    box-shadow: 2px 2px 20px black;
}

#about div {
    max-width: 600px;
}

#skills {
    background-image: url("bg.png");
    background-size: cover;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
}

#skills i {
    margin-right: 10px;
}

#projects {
    background-image: url("bg.png");
    background-size: cover;
}

#projects .project {
    margin-bottom: 20px;
}

.card {
    display: inline-block;
    border: 3px solid black;
}

#projects img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

#resume {
    background-image: url("bg.png");
    background-size: cover;
}

#resume a {
    color: blue;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 10px;
}

#resume a:hover{
    color: lightyellow;
    text-decoration: none;
}

#resume a i {
    color: red;
    margin-left: 10px;
}

#contact {
    background-image: url("bg.png");
    background-size: cover;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    color: blue;
    margin: 10px 0;
    font-size: 1.2em;
}

#contact a {
    color: blue;
    text-decoration: none;
}

#contact a:hover {
    color: lightyellow;
    text-decoration: none;
}

#contact i {
    color: black;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

footer ul li a:hover {
    color: yellow;
    text-decoration: none;
    font-size: 1.1em;
}


